@using Microsoft.AspNet.Identity

<ul class="nav nav-pills nav-stacked">
    <li>@Html.ActionLink("Change password", "ChangePassword", "Manage")</li>
    <li>@Html.ActionLink("Manage external logins", "ManageLogins", "Manage")</li>
</ul>